langchain
python-dotenv
ipykernel
langchain_community
beautifulsoup4
faiss-cpu
langchain_groq
langchain-openai
langchain_core
streamlit
youtube-transcript-api
pytube
transformers
pypdf
sentence-transformers
langchain-huggingface
requests
langchainhub
tavily-python 
wikipedia